@import '~bulma';
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/components/navbar';

@font-face {
  font-family: HYHeiLiZhiTiJ;
  src: url(../fonts/HYHeiLiZhiTiJ.ttf);
}

// body {
//   width: 1440px;
// }

.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .parallax-layer-container {
//   max-width: 8500px !important;
//   // width: 8640px !important;

//   & > div {
//     max-width: 8500px !important;
//     // width: 8640px !important;
//   }
// }

// .afi-background {
//   background-image: url('../images/afi-paper.png');
//   background-repeat: no-repeat;
//   height: 100%;
//   width: 100%;
//   background-size: auto 100%;
//   background-repeat: no-repeat;
//   background-position: top left;
// }

.main-background {
  background-image: url('../images/extended_background-clean-horizontal_streched\ copy.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left center;

  @include until($desktop) {
    background-image: url('../images/extended_background-clean-vertical.jpg');
  }
}

.last-background {
  background-image: url('../images/black_background.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.title-background {
  background-image: url('../images/title-background.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left center;

  @media screen and (min-height: 1000px) {
    background-size: 100% 937.5px;
  }
}

.black-background {
  background-color: black;
  height: 100%;
  width: 100%;
  border: 0;
}
.branch1 {
  -moz-transform: scale(1, -1) rotate(8deg);
  -o-transform: scale(1, -1) rotate(8deg);
  -webkit-transform: scale(1, -1) rotate(8deg);
  transform: scale(1, -1) rotate(8deg);
}

.leaf1 {
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.leaf2 {
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.branch2 {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
.b .text {
  pointer-events: none;
  justify-content: start !important;
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
  text-transform: uppercase;
}

.number {
  font-size: 450px;
  color: white;
}

.number span {
  display: inline-block;
  position: relative;
  transform: translate3d(-35%, 0, 0);
}

.header {
  font-size: 70px;
  color: white;
}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(
    70% 0,
    100% 0,
    calc(100% - 20vw) 100%,
    calc(70% - 20vw) 100%
  );
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 140%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

.container {
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  font-family: HYHeiLiZhiTiJ;
}

.home-title {
  color: white;
}

.body {
  color: white;
}

.header {
  font-size: 30px;
  margin-bottom: 6%;
}

.home-title {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}

.title-text-container {
  position: absolute;
  top: 11%;
  width: 100%;

  a {
    width: 200px;
    top: 54%;
    position: absolute;
    left: 54%;
  }

  @media screen and (max-height: 700px) {
    top: 5%;
  }
}

.navbar-start {
  position: absolute;
  right: 3%;
  top: 20%;
}

.donate-waypoint {
  width: 4%;
}

.button {
  font-size: 30px;
  height: 70px;
  max-width: 300px;
  width: 100%;

  h2 {
    text-transform: uppercase;
  }
}

.body {
  font-size: 20px;
  line-height: 2.6;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.list {
  text-align: left;
}

.navbar {
  background-color: transparent;
  height: 70px;
  padding: 50px 0 50px 50px;
  padding: 0;
  padding: 0 0 0 50px;
  transition: all 0.5s ease;
}

.bottom-row {
  margin-top: 10%;
}

.kiki-image {
  width: 160px !important;
  margin-top: -6%;
  margin-left: 4%;
}

.luqi-image {
  width: 180px !important;
  margin-left: 40%;
}

.row {
  display: flex;

  & > div {
    height: 100%;
    width: 100%;
  }
}

.navbar-item {
  color: white;
  text-decoration: underline;
  &:hover {
    color: white;
  }
}

.team-img {
  max-width: 200px;
  width: 100%;
}

.team-description-text {
  position: absolute !important;
  z-index: 2;
  color: white;
  max-width: 350px;
  right: 25%;
  top: 33%;
  font-size: 14px;
}

.haohao-desc-text {
  top: 16%;
  font-size: 14px;
  padding: 4%;
  left: -17%;
}

.haohao-team-bg {
  -moz-transform: scale(1, -1) rotate(-30deg);
  -o-transform: scale(1, -1) rotate(-30deg);
  -webkit-transform: scale(1, -1) rotate(-30deg);
  transform: scale(1, -1) rotate(-30deg);
  right: 43% !important;
  width: 450px !important;
  top: -11% !important;
  left: -22% !important;
}

.xiaoxiao-team-bg {
  -moz-transform: scale(1, -1) rotate(-40deg);
  -o-transform: scale(1, -1) rotate(-40deg);
  -webkit-transform: scale(1, -1) rotate(-40deg);
  transform: scale(1, -1) rotate(-40deg);
  right: 43% !important;
  width: 450px !important;
  top: 38% !important;
  left: -22% !important;
}

.xiaoxiao-desc-text {
  left: -14%;
  top: 55%;
}

.anton-team-bg {
  -moz-transform: scale(1, -1) rotate(-40deg);
  -o-transform: scale(1, -1) rotate(-40deg);
  -webkit-transform: scale(1, -1) rotate(-40deg);
  transform: scale(1, -1) rotate(-40deg);
  top: -20% !important;
  right: -27% !important;
}

.anton-desc-text {
  top: 33%;
  padding: 4%;
  right: -9%;
  color: black;
}

.luqi-team-bg {
  -moz-transform: scale(1, -1) rotate(0deg);
  -o-transform: scale(1, -1) rotate(0deg);
  -webkit-transform: scale(1, -1) rotate(0deg);
  transform: scale(1, -1) rotate(0deg);
  right: 43% !important;
  width: 450px !important;
  top: 35% !important;
  left: -19% !important;
}

.luqi-desc-text {
  left: -13%;
  top: 56%;
  color: black;
}

.team-description-bg {
  height: auto;
  position: absolute !important;
  z-index: 1;
  right: 20%;
  top: 4%;
  width: 450px;
}

.kiki-team-bg {
  -moz-transform: scale(1, -1) rotate(-20deg);
  -o-transform: scale(1, -1) rotate(-20deg);
  -webkit-transform: scale(1, -1) rotate(-20deg);
  transform: scale(1, -1) rotate(-20deg);
  width: 450px !important;
  right: -7% !important;
  top: 29% !important;
}

.kiki-desc-text {
  top: 37%;
  right: -7%;
  padding: 5%;
  color: black;
}

.contact-container {
  margin-bottom: auto;
  margin-top: auto;
  max-width: 400px;
  position: absolute;
  right: 2.2%;
  top: 30%;
  z-index: 9999;

  body {
    padding-left: 6%;
    padding-right: 6%;
  }
}

.story-container {
  padding: 14%;
  .body {
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;

    @include from($desktop) {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}

.story-title {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.afi-container {
  width: 700px;
  line-height: 1;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0%;

  p {
    color: white;
    margin-top: 2%;
    text-align: left;
    font-size: 14px;

    @include from($desktop) {
      font-size: 16px;
    }
  }

  @media screen and (max-height: 700px) {
    padding: 10%;
  }
}

.afi-thesis {
  position: absolute !important;
  width: 60%;
  margin-right: auto;

  @media screen and (min-height: 700px) {
    width: 16%;
    left: 13%;
    top: 20%;
  }

  @media screen and (min-height: 1000px) {
    top: 40%;
  }

  @media screen and (min-height: 1200px) {
    margin-top: 6%;
  }
}

.the-speech-title {
  width: 26%;
  left: 41%;
  right: 50%;
  margin-top: 90px;
  position: absolute !important;

  @media screen and (min-height: 800px) {
    margin-top: 60px;
  }

  @media screen and (min-height: 1000px) {
    margin-top: 6%;
  }

  @media screen and (min-height: 1200px) {
    margin-top: 12%;
  }
}

.chinese-title {
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  @include from($desktop) {
    width: 14%;
    left: 5%;
  }
}

.title-button {
  height: 33px;
  max-width: 160px;
  background-color: transparent !important;
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);

  @include from($desktop) {
    position: relative;
  }
}

.title-link {
  width: 200px;
  top: 54.5%;
  position: absolute;
  left: 48%;
}

.donate-title {
  margin-left: auto;
  margin-right: auto;
  top: 16%;
  width: 70%;
  position: absolute !important;
  right: 15%;
}

.donate-content {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.navigate-arrow-container-home {
  position: absolute;
  top: 45%;
  left: 16.1%;
  font-size: 50px;
}

.navigate-arrow-container-story {
  position: absolute;
  top: 1;
  top: 45%;
  left: 42%;
  font-size: 50px;
}

.navigate-arrow {
  color: white;

  &hover {
    color: gray;
  }
}

.afi-section {
  position: relative;
  font-size: 15px;
}

.afi-logo {
  position: absolute;
  right: 10%;
}

.is-fixed-top {
  @media screen and (min-height: 1000px) {
    top: 4% !important;
  }
  @media screen and (min-height: 1100px) {
    top: 6% !important;
  }
  @media screen and (min-height: 1200px) {
    top: 10% !important;
  }
  @media screen and (min-height: 1300px) {
    top: 14% !important;
  }
  @media screen and (min-height: 1400px) {
    top: 16% !important;
  }
}

.donate-content {
  position: absolute;

  @media screen and (min-height: 700px) {
    left: -4%;
    top: 4%;
  }

  @media screen and (min-height: 800px) {
    top: 10%;
  }

  @media screen and (min-height: 1200px) {
    top: 20%;
  }
}

.donate-container {
  max-width: 500px;
  position: relative;
  left: 4%;
  top: 32%;

  .columns {
    position: absolute;
    top: -6%;
    line-height: 1.2;
  }
}

.donate-section {
  color: white;
  text-align: left;
  font-size: 12px;

  @include from($desktop) {
    font-size: 15px;
  }

  ul {
    line-height: 1;
  }

  .title {
    font-size: 20px;
  }

  a {
    text-align: center;
  }
}

.donate-section-1 {
  margin-top: -5%;

  @media screen and (min-height: 700px) {
    font-size: 12px;
  }
  @media screen and (min-height: 900px) {
    font-size: 14px;
  }
}

.donate-section-2 {
  margin-top: 20px;

  @media screen and (min-height: 700px) {
    font-size: 12px;
  }

  @media screen and (min-height: 900px) {
    font-size: 15px;
  }

  .title {
    margin-bottom: -8%;
    font-size: 14px;
  }
}

.donate-title-section {
  position: relative;
  top: 15%;
  left: 3%;

  .title {
    margin: 10px;
    padding: 0;
  }
}

.donate-button {
  margin-bottom: 1.5rem;
  background-color: #005a67 !important;
  font-size: 15px;
  height: 34px !important;
  max-width: 120px !important;
  width: 100%;
  color: white !important;
  border-color: white !important;
  margin-left: 2%;

  h2 {
    font-size: 15px;
  }
}

.team-container {
  padding: 24%;
  width: 100%;

  @include from($desktop) {
    padding: 14%;
  }

  @media screen and (max-height: 700px) {
    padding: 14%;
  }
}

.contact-info {
  text-align: center;
  color: white;
}

.bullets {
  color: white;
  text-align: left;
  padding-left: 20px;
}

.data-field {
  display: block !important;
}

.contact-container {
  label {
    color: white;
  }

  .field {
    margin-bottom: 0;
  }

  label {
    font-size: 0.8rem;
  }

  input {
    font-size: 14px;
  }

  .body {
    line-height: 0.5;
  }
}

.contact-button {
  margin-top: 4%;
  height: 40px;
  text-align: center;
  width: 200px;
  background-color: black;

  h2 {
    font-size: 16px;
    color: white;
  }
}
