@import '~bulma';
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/components/navbar';

@font-face {
  font-family: HYHeiLiZhiTiJ;
  src: url(../fonts/HYHeiLiZhiTiJ.ttf);
}

.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-layer-container {
  max-width: 8040px !important;

  & > div {
    max-width: 8040px !important;
  }
}

.afi-background {
  background-image: url('../images/afi-paper.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.main-background {
  background-image: url('../images/extended_background-clean-horizontal.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  @include until($desktop) {
    background-image: url('../images/extended_background-clean-vertical.jpg');
  }
}

.last-background {
  background-image: url('../images/black_background.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.title-background {
  height: 100%;
  width: 50%;
}

.black-background {
  background-color: black;
  height: 100%;
  width: 100%;
}
.branch1 {
  -moz-transform: scale(1, -1) rotate(8deg);
  -o-transform: scale(1, -1) rotate(8deg);
  -webkit-transform: scale(1, -1) rotate(8deg);
  transform: scale(1, -1) rotate(8deg);
}

.leaf1 {
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.leaf2 {
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.branch2 {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
.b .text {
  pointer-events: none;
  justify-content: start !important;
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
  text-transform: uppercase;
}

.number {
  font-size: 450px;
  color: white;
}

.number span {
  display: inline-block;
  position: relative;
  transform: translate3d(-35%, 0, 0);
}

.header {
  font-size: 70px;
  color: white;
}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(
    70% 0,
    100% 0,
    calc(100% - 20vw) 100%,
    calc(70% - 20vw) 100%
  );
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 140%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

.container {
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  font-family: HYHeiLiZhiTiJ;
}

.home-title {
  color: white;
}

.body {
  color: white;
}

.header {
  font-size: 30px;
  margin-bottom: 6%;
}

.home-title {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}

.title-text-container {
  position: absolute;
  top: 11%;
  width: 100%;

  a {
    width: 200px;
    top: 54%;
    position: absolute;
    left: 54%;
  }

  @media screen and (min-height: 700px) {
    top: 5%;
  }
}

.button {
  font-size: 30px;
  height: 70px;
  max-width: 300px;
  width: 100%;

  h2 {
    text-transform: uppercase;
  }
}

.body {
  font-size: 20px;
  line-height: 2.6;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.list {
  text-align: left;
}

.navbar {
  background-color: transparent;
  height: 70px;
  padding: 50px 0 50px 50px;
  padding: 0;
  padding: 0 0 0 50px;
  transition: all 0.5s ease;
}

.navbar-item {
  color: white;
  text-decoration: underline;
  &:hover {
    color: white;
  }
}

.team-img {
  max-width: 200px;
  width: 100%;
}

.team-description-bg {
  height: auto;
  width: 500px;
  position: absolute !important;
}

.story-section,
.afi-section,
.support-section,
.support-container,
.donate-section,
.donate-container,
.contact-section {
  max-width: 800px;
}

.contact-container {
  max-width: 400px;
  right: 4%;
  position: absolute;

  @include from(1440px) {
    left: -32%;
    right: 0;
  }
}

.story-container {
  max-width: 700px;

  .body {
    text-align: justify;
    line-height: 1.5;
    padding: 10%;

    @include from($desktop) {
      padding: 0;
    }
  }
}

.story-title {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.afi-container {
  max-width: 900px;
  p {
    color: white;
    margin-top: 2%;
    text-align: left;
    font-size: 15px;
  }

  @media screen and (min-height: 700px) {
    padding: 10%;
  }
}

.afi-thesis {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  @include from($desktop) {
    width: 16%;
    left: 5%;
  }
}

.the-speech-title {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  @include from($desktop) {
    width: 30%;
    left: 5%;
    margin-top: 34px;
    margin-bottom: 16px;
  }
}

.chinese-title {
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  @include from($desktop) {
    width: 14%;
    left: 5%;
  }
}

.title-button {
  height: 50px;
  max-width: 160px;
  background-color: transparent !important;
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);

  @include from($desktop) {
    position: relative;
  }
}

.title-link {
  width: 200px;
  top: 54%;
  position: absolute;
  left: 49%;
}

.donate-title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  top: 10%;
  right: 2%;
}

.afi-section {
  padding-top: 10%;
  position: relative;
  font-size: 15px;
}

.afi-logo {
  position: absolute;
  right: 10%;
}

.donate-container {
  position: absolute;
  left: 0;
  bottom: 2%;
}

.donate-section {
  color: white;
  text-align: left;
  font-size: 12px;

  ul {
    line-height: 1;
  }

  .title {
    font-size: 20px;
  }

  a {
    text-align: center;
  }
}

.donate-title-section {
  position: absolute;
  top: 12%;
  left: 14%;

  @media screen and (min-height: 700px) {
    position: absolute;
    top: 8%;
    left: 2%;
  }
}

.donate-button {
  margin-bottom: 1.5rem;
  background-color: #005a67 !important;
  font-size: 30px;
  height: 60px !important;
  max-width: 240px !important;
  width: 100%;
  color: white !important;
  border-color: white !important;
}

.team-container {
  padding: 24%;
  width: 100%;

  @include from($desktop) {
    padding: 14%;
  }

  @media screen and (min-height: 700px) {
    padding: 14%;
    margin-top: 3%;
  }
}

.contact-info {
  text-align: center;
  color: white;
}

.bullets {
  color: white;
  text-align: left;
  padding-left: 20px;
}

.data-field {
  display: block !important;
}

.contact-container {
  label {
    color: white;
  }

  .field {
    margin-bottom: 0;
  }
}
